rocket/schema/IPXACT/1685-2014/signalDrivers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Mark Noll (private) -->
<!--
// Description : signalDrivers.xsd
// Author: The Accellera System Initiative IP-XACT Schema Working Group
// 
// Revision:    $Revision: 1537 $
// Date:        $Date: 2010-02-26 13:28:40 -0800 (Fri, 26 Feb 2010) $
// 
// Copyright (c) 2005 - 2012 Accellera Systems Initiative Inc. 
// All rights reserved.
// 
// This source file is provided on an AS IS basis. The Accellera 
// Systems Initiative disclaims any warranty express or implied 
// including any warranty of merchantability and fitness for use 
// for a particular purpose.
// 
// The user of the source file shall indemnify and hold The Accellera 
// Systems Initiative and its members harmless from any damages or liability.
// 
// This file may be copied, and distributed, WITHOUT
// modifications; this notice must be included on any copy.
// 
// This schema shall not be modified, adapted, altered, sublicensed, nor
// any derivative works shall be created based upon the schema.  The
// intended and allowed uses of the schema include:
// 
//  o Creating and validating XML documents that conform to the schema
// 
//  o Building software programs and systems based on the schema
// 
//  o Distributing verbatim copy of the schema as long as the full text
//  of this license is included in all copies of the schema.
//  Specifically, a tool may include full copies of the schema, and these
//  copies may be distributed by the tool provider directly.  A link or
//  URL to the original of the schema is inherent in the schema URI.
// 
//  o Documents which are validated against this schema may also
//  reference additional schema. These additional schemas may provide for
//  validation of elements and attributes at the extension points
//  explicitly and implicitly included in the IEEE 1685-???? standard.
// 
//  o No right to create new schemas derived from parts of this base
//  schema is granted pursuant to this License.
// 
// Users are requested to provide feedback to The Accellera Systems 
// Initiative IP-XACT Schema Working Group using: 
// mailto:ip-xact-swg@lists.accellera.org
 -->
<xs:schema xmlns:ipxact="http://www.accellera.org/XMLSchema/IPXACT/1685-2014" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.accellera.org/XMLSchema/IPXACT/1685-2014" elementFormDefault="qualified">
	<xs:include schemaLocation="simpleTypes.xsd"/>
	<xs:include schemaLocation="autoConfigure.xsd"/>
	<xs:include schemaLocation="commonStructures.xsd"/>
	<xs:element name="defaultValue" type="ipxact:unsignedBitVectorExpression">
		<xs:annotation>
			<xs:documentation>Default value for a wire port.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="clockDriver">
		<xs:annotation>
			<xs:documentation>Describes a driven clock port. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ipxact:clockDriverType">
					<xs:attribute name="clockName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Indicates the name of the cllock. If not specified the name is assumed to be the name of the containing port. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="singleShotDriver">
		<xs:annotation>
			<xs:documentation>Describes a driven one-shot port.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="singleShotOffset" type="ipxact:realExpression">
					<xs:annotation>
						<xs:documentation>Time in nanoseconds until start of one-shot.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="singleShotValue" type="ipxact:unsignedBitVectorExpression">
					<xs:annotation>
						<xs:documentation>Value of port after first  edge of one-shot.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="singleShotDuration" type="ipxact:realExpression">
					<xs:annotation>
						<xs:documentation>Duration in nanoseconds of the one shot.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requiresDriver" default="false">
		<xs:annotation>
			<xs:documentation>Specifies if a port requires a driver. Default is false. The attribute driverType can further qualify what type of driver is required. Undefined behaviour if direction is not input or inout. Driver type any indicates that any unspecified type of driver must be connected</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:boolean">
					<xs:attribute name="driverType" use="optional" default="any">
						<xs:annotation>
							<xs:documentation>Defines the type of driver that is required. The default is any type of driver. The 2 other options are a clock type driver or a singleshot type driver.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="clock"/>
								<xs:enumeration value="singleShot"/>
								<xs:enumeration value="any"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="driverType">
		<xs:annotation>
			<xs:documentation>Wire port driver type.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="ipxact:range" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="ipxact:defaultValue"/>
				<xs:element ref="ipxact:clockDriver"/>
				<xs:element ref="ipxact:singleShotDriver"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="drivers">
		<xs:annotation>
			<xs:documentation>Container for wire port driver elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipxact:driver" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Wire port driver element. If no range is specified, default value applies to the entire range.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="driver" type="ipxact:driverType">
		<xs:annotation>
			<xs:documentation>Wire port driver element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="isResetType">
		<xs:annotation>
			<xs:documentation>If this evaluates to true, it indicates this port triggers the reset of registers and fields, if not present its value is assumed to be false. The resetTypeRef attribute indicates the triggered reset event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ipxact:unsignedBitExpression">
				<xs:attribute name="resetTypeRef" type="xs:Name">
					<xs:annotation>
						<xs:documentation>Reference to a user defined resetType. Assumed to be HARD if not present.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ipxact:id.att"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="clockDriverType">
		<xs:sequence>
			<xs:element name="clockPeriod">
				<xs:annotation>
					<xs:documentation>Clock period in units defined by the units attribute. Default is nanoseconds.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ipxact:realExpression">
							<xs:attribute name="units" type="ipxact:delayValueUnitType" use="optional" default="ns"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="clockPulseOffset">
				<xs:annotation>
					<xs:documentation>Time until first pulse. Units are defined by the units attribute. Default is nanoseconds.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ipxact:realExpression">
							<xs:attribute name="units" type="ipxact:delayValueUnitType" use="optional" default="ns"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="clockPulseValue" type="ipxact:unsignedBitVectorExpression">
				<xs:annotation>
					<xs:documentation>Value of port after first clock edge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clockPulseDuration">
				<xs:annotation>
					<xs:documentation>Duration of first state in cycle. Units are defined by the units attribute. Default is nanoseconds.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ipxact:realExpression">
							<xs:attribute name="units" type="ipxact:delayValueUnitType" use="optional" default="ns"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ipxact:id.att"/>
	</xs:complexType>
	<xs:element name="otherClockDriver">
		<xs:annotation>
			<xs:documentation>Describes a clock not directly associated with an input port. The clockSource attribute can be used on these clocks to indicate the actual clock source (e.g. an output port of a clock generator cell).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ipxact:clockDriverType">
					<xs:attribute name="clockName" type="xs:Name" use="required">
						<xs:annotation>
							<xs:documentation>Indicates the name of the clock.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="clockSource" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Indicates the name of the actual clock source (e.g. an output pin of a clock generator cell).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
